#project-card {
    width: 35rem;
    transition: 0.3s;
    height: 100%;
}

.card-text {
    font-size: 16px;
}

#project-card:hover {
    transform: scale(1.1);
    box-shadow: 8px 8px var(--ming);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}