#about-description {
    font-size: 30px;
    padding: 5px;
    margin: 8px;
    color: var(--gainsboro);
}

#about-background {
    background-color: rgba(53, 53, 53, .5);
    background-image: var(--bs-gradient);
}

#about-image {
    width: 550px;
    height: 850px;
    border-radius: 7px;
}

@media screen and (max-width: 480px) {
    #about-description {
        font-size: 15px;
    }

    #about-image {
        max-width: auto;
        height: 550px;
    }

    #about-section {
        padding: 10px;
    }
}

