#home {
    color: var(--ming);
    height: 95vh;
    width: 100vw;
}

#home-img {
    height: 90vh;
    width: 100vw;
}

#home-text {
    font-weight: bolder;
    transition: 0.3s;
}

#home-text:hover {
    transform: scale(1.1);
    color: var(--gainsboro);
}