#home {
    color: var(--gainsboro);
    height: 95vh;
    width: 100vw;
}

#home-img {
    height: 60vh;
    opacity: .9;
}

#home-text {
    font-weight: bolder;
    transition: 0.3s;
    font-size: 60px;
}

#home-text:hover {
    transform: scale(1.1);
    color: var(--ming);
}

#home-button {
    font-size: 18px;
    background-color: var(--jet);
    transition: 0.3s;
}

#home-button:hover {
    font-weight: bolder;
    background-color: var(--ming);
}

@media screen and (max-width: 480px) {
    #home-text {
        font-size: 13px;
    }

    #home-button {
        font-size: 12px;
        width: 260px;
    }

    #home {
        width: 400px;
    }
}