#navbar {
    background-color: var(--ming) !important;
    font-size: 23px;
}

.navbar-nav a:hover {
    color: var(--jet) !important;
}

@media screen and (max-width: 480px) {
    #navbar {
        font-size: 18px;
    }
}